/HyperJob Agency/Creating models/
/HyperJob Agency/Creating new vacancies and resumes/
/HyperJob Agency/Main menu/
/HyperJob Agency/Vacancies and resumes pages/
/HyperJob Agency/lesson-info.yaml
/Problems/
/uvenv/
/venv/
/course-info.yaml
/course-remote-info.yaml
